<div class="flex-1 flex flex-col w-full">
  <% if current_user.store.present? %>
    <% if current_user.store.logo.attached? %>
    <div class="flex justify-center mb-8">
      <%= image_tag current_user.store.logo.variant(gravity: "center"), class: "w-24 h-24 overflow-hidden rounded-full" %>
    </div>
    <% end %>

  <%= link_to Store.model_name.human, store_path(current_user.store), class: "mb-2 mx-4 px-2 py-2 hover:bg-yellow-400 rounded-md #{class_names("bg-yellow-400": request.path_info.include?("/store"))}" %>
  <% end %>
  <%= link_to Workday.model_name.human(count: 2) , workdays_path, class: "mb-2 mx-4 px-2 py-2 hover:bg-yellow-400 rounded-md #{class_names("bg-yellow-400": request.path_info.include?("/workday"))}" %>
  <%= link_to Product.model_name.human(count: 2), products_path, class: "mx-4 px-2 py-2 hover:bg-yellow-400 rounded-md #{class_names("bg-yellow-400": request.path_info.include?("/products"))}" %>
  <%= link_to Customer.model_name.human(count: 2), customers_path, class: "mx-4 px-2 py-2 hover:bg-yellow-400 rounded-md #{class_names("bg-yellow-400": request.path_info.include?("/customers"))}" %>


  <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "mx-4 px-2 py-2 text-white" %>

</div>