<h2 class="text-2xl">Crea tu cuenta en SimpleFood</h2>
<h3 class="text-gray-700 mb-4">Y comienza a vender tus productos en menos de 10 minutos</h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("Al menos #{@minimum_password_length} caracteres" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Crear cuenta" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
