<div class="p-32">
  <div class="flex items-center mb-4">
    <%= link_to "javascript:history.back()", class: "border rounded p-2 mr-4 hover:bg-gray-50" do%>
    <%= image_tag("icons/ArrowLeftMinor.svg", class: "h-6")%>

    <%end %>
    <h1 class="text-3xl">Agregar stock</h1>
  </div>
  <div class="border bg-white rounded-lg p-4 w-96">
    <%= simple_form_for @workday_product do |f| %>
      <%= f.association :product, type: :select %>
      <%= f.input :stock, type: :integer %>
      <%= f.hidden_field :workday_id, value: params[:workday_id]%>

      <%= f.submit type: :submit, class: "px-4 py-2 rounded-md bg-yellow-500 text-white cursor-pointer" %>
    <% end %>
  </div>
</div>