<%= title_with_action_button "Lista de clientes", "", "#" %>

<div class="card mb-4">
  <div class="flex flex-col mx-auto">
    <div class="overflow-x-scroll">
      <table class="table-fixed min-w-full">
        <thead>
          <tr class="border-b h-14">
            <th class="text-left">Nombre</th>
            <th class="text-right">Teléfono</th>
            <th class="text-right">Dirección</th>
            <th class="text-right"># de pedidos</th>
            <th class="text-right pr-4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @table.rows.each do |customer, order_count| %>
          <tr class="border-b h-14">
            <td class="text-left"><%= customer.full_name %></td>
            <td class="text-right"><%= customer.phone_number %></td>
            <td class="text-right"><%= customer.full_address %></td>
            <td class="text-right"><%= order_count %></td>
            <td class="text-right pr-4">
              <div class="flex flex-col justify-center">
                <%= link_to "Eliminar", customer, class: "text-red-500 text-sm", method: :delete, data: {confirm: "¿Estás seguro de que quieres eliminar el cliente?"}%>

              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="flex justify-end items-end h-10">
        <%= paginate @table%>
      </div>
    </div>
  </div>
</div>