<div class="px-4 py-8 md:p-16 flex flex-col items-center">
  <h1 class="text-3xl">¡Tu pedido ha sido registrado!</h1>
  <h2 class="text-xl text-gray-600 mb-8">Llegaremos a tu departamento el
    <%= l(@order.workday.work_date, format: "%A %-d de %B") %></h2>
  <div class="grid gap-4 grid-cols-1 md:grid-cols-5 w-full">
    <div class="md:col-span-3 border bg-white rounded-lg p-4 md:mr-8">
      <h3 class="text-2xl mb-2">Resumen del pedido</h3>

      <% @order.order_products.each do |order_product| %>
      <div class="flex justify-between">
        <div>
          <span class="font-bold"><%= order_product.quantity%></span> <%= order_product.name %>
          <br />
          <span>Hora de entrega  ~<%= l(order_product.deliver_time, format: "%H:%M") %></span>
        </div>
        <div><%= currency_formatter(order_product.price)%></div>
      </div>
      <% end %>
      <hr class="my-2 border">
      <div class="flex justify-between mb-4">
        <div class="font-bold">Total a pagar</div>
        <div class="font-bold"><%= currency_formatter(@order.total_price) %></div>
      </div>
      <h3 class="text-xl mb-2">Cliente</h3>
      <span><%= @order.customer.full_name %>, D. <%= @order.customer.apartment %></span>
      <div><%= @order.customer.phone_number %></div>
      <div class="italic mb-2"><%= @order.delivery_comment %></div>
      <div class="flex justify-end">
        <%= link_to "Modificar datos", "#", class: "underline" %>
      </div>
    </div>
    <div class="md:col-span-2">
      <div class="border bg-white rounded-lg p-4 w-auto">
        <h2 class="text-2xl mb-4">Datos para la transferencia</h2>
        <div class="text-lg">Banco Estado</div>
        <div class="flex justify-between">
          <div class="text-sm">Nº de cuenta</div>
          <div class="text-sm">9053295</div>
        </div>
        <div class="flex justify-between">
          <div class="text-sm">Nombre</div>
          <div class="text-sm">Viviana Olivares</div>
        </div>
        <div class="flex justify-between">
          <div class="text-sm">Rut</div>
          <div class="text-sm">9.053.295-2</div>
        </div>
        <div class="flex justify-between">
          <div class="text-sm">Correo</div>
          <div class="text-sm">v.m.o.oportus@gmail.com</div>
        </div>
      </div>
      
    </div>

  </div>

</div>