<%= title_with_action_button "Catálogo de productos", "Agregar producto", new_product_path%>

<div class="card mb-4">
  <div class="flex flex-col mx-auto">
    <div class="overflow-x-scroll">
      <table class="table-fixed min-w-full">
        <thead>
          <tr class="border-b h-14">
            <th class="text-left w-20 md:pl-4"></th>
            <th class="text-left">Nombre</th>
            <th class="text-right">¿Publicado?</th>
            <th class="text-right">¿Hay stock?</th>
            <th class="text-right">Precio</th>
            <th class="text-right">Unidades vendidas</th>
            <th class="text-right pr-4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each_with_index do |product, index| %>
          <tr class="<%= index < @products.size - 1 ? "border-b" : "" %> h-14">
            <td class="md:pl-4">
              <% if product.cover_photo.attached? %>
              <%= image_tag product.cover_photo.variant(gravity: "center", resize: "400x400^", crop: '400x400+0+0'), class: "w-10 overflow-hidden rounded-lg" %>
              <% end %>
            </td>
            <td class="text-left"><%= product.name %></td>
            <td class="text-right"><%= I18n.t(product.published.to_s) %></td>
            <td class="text-right"><%= I18n.t(product.has_stock.to_s) %></td>
            <td class="text-right"><%= currency_formatter(product.price) %></td>
            <td class="text-right"><%= OrderCalculator.total_units_taken(product) %></td>
            <td class="text-right pr-4">
              <div class="flex flex-col justify-center">
                <%= link_to "Modificar", edit_product_path(product), class: "text-blue-500 text-sm" %>
                <%= link_to "Eliminar", product, class: "text-red-500 text-sm", method: :delete, data: {confirm: "¿Estás seguro de que quieres eliminar el producto?"}%>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="flex justify-end items-center h-12">
        <%= paginate @products %>
      </div>
  </div>
</div>