<%= title_with_back_button "Jornada #{@workday.title(browser.device.mobile?)}" %>

<div data-controller="clipboard" class="ml-2 md:ml-0">
  <h2 class="text-gray-700">Link para compartir con tus clientes <% if browser.device.mobile?%> <br /> <% end %><input readonly type="text"
      class="focus:outline-none w-1/2 md:w-80 h-6 bg-yellow-400 text-gray-900 rounded-full px-2 py-1 mb-1 md:mb-0 mr-2"
      data-clipboard-target="source" value="<%= new_friendly_order_url(@workday)  %>" /> <button
      data-action="clipboard#copy"
      class="leading-none border border-blue-500 text-blue-500 rounded-full px-2 py-1">Copiar enlace</button>
  </h2>
</div>
<div class="flex justify-between items-center mb-2 md:mb-4 ml-2 md:ml-0">
  <h2 class="text-2xl">Productos ofrecidos</h2>
</div>
<div class="card mb-4">
  <div class="flex flex-col mx-auto">
    <div class="overflow-x-scroll">
      <table class="table-fixed min-w-full">
        <thead>
          <tr class="border-b h-14">
            <th class="text-left w-20 md:pl-4"></th>
            <th class="text-left">Nombre</th>
            <th class="text-right">Hora de entrega</th>
            <th class="text-right">Stock inicial</th>
            <th class="text-right">Unidades pedidas</th>
            <th class="text-right pr-4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @workday.workday_products.each_with_index do |wd_product, index| %>
          <tr class="<%= index < @workday.workday_products.size - 1 ? "border-b" : "" %> h-14">
            <td class="md:pl-4">
              <%= image_tag wd_product.cover_photo.variant(gravity: "center", resize: "400x400^", crop: '400x400+0+0'), class: "w-10 overflow-hidden rounded-lg" %>
            </td>
            <td class="text-left"><%= wd_product.name %></td>
            <td class="text-right"><%= l(wd_product.delivery_time, format: "%H:%M") %></td>
            <td class="text-right"><%= wd_product.stock %></td>
            <td class="text-right"><%= OrderCalculator.units_taken(@workday, wd_product.product) %></td>
            <td class="text-right pr-4">
              <div class="flex flex-col justify-center">
                <%= link_to "Modificar", edit_workday_product_path(wd_product), class: "text-blue-500 text-sm" %>
                <%= link_to "Eliminar", workday_product_path(wd_product), class: "text-red-500 text-sm",method: :delete, data: {confirm: "¿Estás seguro de que quieres eliminar el stock?"}%>
              </div>
            </td>
          </tr>
          <% end %>
          <tr class="text-center">
            <td colspan="6" class="pt-4">
              <%= link_to new_workday_product_path(workday_id: @workday.id) do %>
              <div class="hover:bg-gray-100 border-gray-400 cursor-pointer border-dashed flex h-14 rounded border-2 items-center justify-center">
                Agregar un producto
              </div>
              <% end  %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="flex justify-between items-center ml-2 mb-4 md:ml-0">
  <h2 class="text-2xl ">Lista de pedidos</h2>
</div>
<div class="card mb-4">
  <div class="flex flex-col mx-auto">
    <div class="overflow-x-scroll">
      <table class="table-fixed min-w-full">
        <thead>
          <tr class="border-b h-14">
            <th class="text-left md:pl-4">ID</th>
            <th class="text-left">Cliente</th>
            <th class="text-right">Productos</th>
            <th class="text-right">Subtotal</th>
            <th class="text-right">Total</th>
            <th class="text-right">Comentario</th>
            <th class="text-right pr-4">Acciones </th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b h-14 bg-yellow-50">
            <td class="text-left md:pl-4"></td>
            <td class="text-left font-bold">Totales</td>
            <td class="text-right">
              <% @workday.products.each do |product| %>
              <div>
                <%= OrderCalculator.units_taken(@workday, product)  %> x <%= product.name %>
              </div>
              <% end %>
            </td>
            <td class="text-right">
              <% @workday.products.each do |product| %>
              <div>
                <%= currency_formatter(OrderCalculator.revenue_at(@workday, product))  %>
              </div>
              <% end %>
            </td>
            <td class="text-right">
              <%= currency_formatter(OrderCalculator.revenue_at(@workday))  %>
            </td>
            <td></td>
            <td></td>

          </tr>
          <% @workday.orders.each_with_index do |order, index| %>
          <tr class="<%= index < @workday.orders.size - 1 ? "border-b" : "" %> h-14">
            <td class="text-left md:pl-4"># <%= order.id %></td>
            <td class="text-left">
              <div>
                <%= order.customer.full_name %>
              </div>
              <div>
                Tel: <%= order.customer.phone_number %> - Dir: <%= order.customer.address %> D.
                <%= order.customer.apartment %>
              </div>
            </td>
            <td class="text-right">
              <% order.order_products.each do |order_product| %>
              <div>
                <%= order_product.quantity%> x <%= order_product.name %>
              </div>
              <% end %>
            </td>
            <td class="text-right">
              <% order.order_products.each do |order_product| %>
              <div>
                <%= currency_formatter(order_product.price)%>
              </div>
              <% end %>
            </td>
            <td class="text-right"><%= currency_formatter(order.total_price) %></td>
            <td class="text-right"><%= order.delivery_comment %></td>
            <td class="text-right pr-4">
              <%= link_to "Eliminar", order, class: "text-red-400",  method: :delete, data: {confirm: "¿Estás seguro de eliminar el pedido?" }%>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>