<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:page_title) ? content_for(:page_title) : "Simple Food" %></title>
  <meta name="description" content="<%= content_for(:meta_description)%>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag 'logos/mano-morena.png', type: 'image/png' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="flex min-h-full" data-controller="sidebar">
  <% if browser.device.mobile? %>
  <nav data-sidebar-target="container"
    class="fixed z-10 left-0 right-0 bottom-0 top-0 bg-yellow-300 transition-transform duration-150 transform -translate-x-full flex flex-col">
    <div class="h-16 flex justify-end items-center px-2">
      <button data-action="sidebar#hide"
        class="mr-2"><%= image_tag("icons/MobileCancelMajor.svg", class: "h-6")%></button>
    </div>
    <%= render partial: "components/sidebar" %>

  </nav>
  <% else %>
  <nav class="w-64 bg-yellow-300 shadow-lg pt-32 flex flex-col border-r-2 border-yellow-500">
    <%= render partial: "components/sidebar" %>
  </nav>
  <% end %>


  <div class="bg-gray-100 w-full relative">
    <nav class="fixed left-0 right-0 h-16 bg-white border-b-2 px-2 flex justify-between items-center">
      <% if browser.device.mobile? %>
      <button data-action="sidebar#show"
        class="p-2"><%= image_tag("icons/MobileHamburgerMajor.svg", class: "h-6 fill-current text-white")%></button>
      <% end %>
    </nav>

    <div class="pt-20 md:pl-10 md:pr-6 md:py-20">
      <%= yield %>
    </div>
    <%= render partial: "components/toast" %>

    <section class="absolute w-full left-0 right-0">
      <% flash.each do |message_type, message| %>
      <div class="invisible" data-controller="flash" data-flash-message-value="<%= message %>"
        data-flash-message-type-value="<%= message_type %>" data-flash-duration-value=<%= 6000 %>>
      </div>
      <% end %>
    </section>
  </div>
</body>

</html>