<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:page_title) ? content_for(:page_title) : "Comida deliciosa" %></title>
  <meta name="description" content="<%= content_for(:meta_description)%>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag 'logos/mano-morena.png', type: 'image/png' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="flex min-h-full">
  <% unless browser.device.mobile? %>
  <nav class="w-64 bg-yellow-300 shadow-lg pt-32 flex flex-col border-r-2 border-yellow-500">
    <div class="flex-1 flex flex-col w-full">
      <%= link_to workdays_path, class: "mb-2 mx-4 px-2 py-2 hover:bg-yellow-400 rounded-md #{class_names("bg-yellow-400": request.path_info.include?("/workday"))}" do %>
      <%= Workday.model_name.human(count: 2) %>
      <% end %>
      <%= link_to products_path, class: "mx-4 px-2 py-2 hover:bg-yellow-400 rounded-md #{class_names("bg-yellow-400": request.path_info.include?("/products"))}" do %>
      <%= Product.model_name.human(count: 2) %>
      <% end %>
    </div>

    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "mx-4 px-2 py-2 text-white" %>
  </nav>
  <% end %>
  <div class="bg-gray-100 w-full relative">
    <nav class="fixed left-0 right-0 h-16 bg-white border-b-2">
    </nav>
    <section class="absolute w-full left-0 right-0">
      <% flash.each do |message_type, message| %>
      <div id=<%= message_type %>
        class="mt-16 px-3 py-2 mx-16 rounded-lg border <%= message_type == "notice" ? "bg-green-100 text-green-700 border-green-700" : "bg-red-100 border-red-500"%>">
        <%= message %></div>
      <% end %>
    </section>
    <div class="pt-20 md:pl-10 md:pr-6 md:py-20">
      <%= yield %>
    </div>
    <section class="fixed w-full right-0 flex items-center justify-center left-0 bottom-0">

      <div data-controller="toast"
        class="flex items-center justify-center transition-all duration-200 ease-in-out bg-gray-900 text-white shadow-lg p-4 mb-8 -mb-16 rounded-lg">
        <span data-toast-target="content"></span>
        <button
          data-action="toast#hide"
          class="ml-2"><%= image_tag("icons/MobileCancelMajor.svg", class: "h-4 fill-current text-white")%></button>
      </div>

    </section>
  </div>
</body>

</html>